{% extends "community/layout.html" %}
{% load bootstrap4 %}

{% block content %}

    <h3 style="color: #3598fe">Community</h3>

    <!-- <form action="" method="GET">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색">
    </form> -->

    <a href="{% url 'community:post_new' %}" class="btn btn-primary mt-3 mb-3" style="float: right;">새 포스팅</a>

    <table class ="table table-bordered table-hover">
        <tr>
            <!-- <td>
                
            </td> -->
            <!-- <td>
                글쓴이
            </td> -->
            <td>
                내용
            </td>
            <td>
                조회수
            </td>
        </tr>
        {% for post in post_list %}
            <tr>
                <!-- <td>
                    {{ post.pk }}
                    
                </td> -->
                <!-- <td>
                    {{ user }}
                </td> -->
                <td>
                    <a href="{% url 'community:post_detail' post.pk %}" class="cmu-post-title">
                    <!-- <a href="{{ post.get_absolute_url }}"> -->
                        {{ post.title }}
                        
                    </a><br>
                    글쓴이 : {{ user }}
                </td>
                <td>
                    {{ post.view }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}
        {% bootstrap_pagination page_obj size="small" justify_content="center" %}
    {% endif %}
    <div class="blank-container"></div>
{% endblock content %}


