{% load bootstrap4 static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2-dist/css/bootstrap.css' %}" />
    <script src="{% static 'bootstrap-4.5.2-dist/js/bootstrap.js' %}"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>{% block title%}잡코리아USA{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <a class="navbar-brand nav-custom" href="{% url 'root' %}">JobKoreaUSA</a>
        </div>
        <nav>
            <ul>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'root' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vip' %}">VIP Banner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community:post_list' %}">Community</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}?next={{ request.get_full_path }}">로그인</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">프로필</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}?next={{ request.get_full_path }}">로그아웃</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <div class="container">
        {% bootstrap_messages %}

        {% block content %}
        {% endblock content%}
    </div>
    <footer>
        <div class="main-footer"></div>
        <div class="logo">
            <img src="{% static 'img/logo_white.png' %}" alt="my logo">
        </div>

        <div class="col">
            <div class="map">
                <p>이 사이트에 저작권은 likelion에 있습니다</p>
            </div>
            <div>
                <ul>
                <li><i class="xi-call"></i>010-9016-1681</li>
                <li><i class="xi-mail-o"></i> kimsr96@likelion.org</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>

            <div>
            <ul>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
            </ul>
            </div>

            <div div class="icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        </div>
        <p class="attribution">
            <span style="color:black">Challenge by</span> LikeLion
            <span style="color:black">Coded by</span> TEAM1
            </p></span>
    </footer>
</body>
</html>