{% extends "layout.html" %}
{% load static %}
{% block content %}


    <main>
        <section class="showcase">
        <img src="{% static 'img/background_img.png' %}" alt="intro">
        <h1>
            해외 취업의 모든정보 JOB KOREA
        </h1>
        <p>
            채용면접, 취업특강, 현직자 취업컨설팅을 한 번에! <br>
            외국계 기업, 해외취업을 위한 Resume & Cover letter 작성법까지!
        </p>
        <button type="submit" class="btn-primary btn-lg">
            <a href="{% url 'vip' %}" class="nav-custom navbar-brand">지금 알아보기</a>
        </button>
        </section>
    </main>

{% endblock %}