{% extends "layout.html" %}
{% load static %}

{% block content %}
    <head><link rel="stylesheet" href="{% static 'css/banner.css' %}"></head>
    <div class="card_section">
        <div class="card card-1">
            <img src="{% static 'img/bannerImg/chosun.png' %}" alt="">
            <div class="description">
            <h2>Chosun Newpaper Administration Assistant</h2>
            <h4>Marketing/Sales</h4>
            <h4>Olympic Blvd. Los Angeles CA 90010</h4>
            <h4><button><a href="Chosunla.com">Website</a></button></h4>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/bannerImg/aventura.png' %}" alt="">
            <div class="description">
            <h2>Allmerits Financial</h2>
            <h4>Hotels/Lodging</h4>
            <h4>1020 Fedora Street Los Angeles CA 90006</h4>
            <h4><button><a href="http://theaventurahotel.com">Website</a></button></h4>
            </div>
        </div>
        <div class="card card-3">
            <img src="{% static 'img/bannerImg/allmerits.png' %}" alt="">
            <div class="description">
            <h2>Allmerits Financial</h2>
            <h4>Insurance</h4>
            <h4>4801 Wilshire Blvd. Suite 101 Los Angeles CA 90010</h4>
            <h4><button><a href="http://allmerits.com">Website</a></button></h4>
            </div>
        </div> 
        <div class="card card-4">
            <img src="{% static 'img/bannerImg/appliance.png' %}" alt="">
            <div class="description">
            <h2>Yes Appliance</h2>
            <h4>Wholesale/Distribution</h4>
            <h4>6301 Orangethrope Ave. Buena Park CA 90620</h4>
            <h4><button><a href="http://yesapplianceoutlet.com">Website</a></button></h4>
            </div>
        </div>
        <div class="card card-5">
            <img src="{% static 'img/bannerImg/nmsi.png' %}" alt="">
            <div class="description">
            <h2>NMSI</h2>
            <h4>Bank/Finance</h4>
            <h4>3700 Wilshire Blvd Ste 330 Los Angeles CA 90010</h4>
            <h4><button><a href=" http://www.nmsigroup.com">Website</a></button></h4>
            </div>
        </div>
        <div class="card card-6">
            <img src="{% static 'img/bannerImg/kiss.png' %}" alt="">
            <div class="description">
            <h2>Kiss Products</h2>
            <h4>Manufacturing-Other</h4>
            <h4>25 Harbor Park Drive Port <br> Washington NY 11050</h4>
            <h4><button><a href=" http://www.nmsigroup.com">Website</a></button></h4>
            </div>
        </div>
        <div class="card card-7">
            <img src="{% static 'img/bannerImg/clevercare.png' %}" alt="">
            <div class="description">
            <h2>Clever Care</h2>
            <h4>Healthcare Services</h4>
            <h4>660 W Huntington Dr 2nd Fl. <br> Arcadia CA 91007</h4>
            <h4><button><a href=" http://www.nmsigroup.com">Website</a></button></h4>
            </div>
        </div>
        <div class="card card-8">
            <img src="{% static 'img/bannerImg/allkgoods.PNG' %}" alt="">
            <div class="description">
            <h2>all K goods</h2>
            <h4>Other/Not Classified</h4>
            <h4>3470 Wilshire Blvd. Suite 646 Los Angeles CA 90010</h4>
            <h4><button><a href="http://www.allkoods.com">Website</a></button></h4>
            </div>
        </div>
        <div class="card card-9">
            <img src="{% static 'img/bannerImg/ex.png' %}" alt="">
            <div class="description">
            <h2>Davi & Dani</h2>
            <h4>Wholesale/Distribution</h4>
            <h4>365 E Jefferson Blvd Los Angeles CA 90011</h4>
            <h4><button><a href="http://www.davidani.com">Website</a></button></h4>
            </div>
        </div> 
    </div>
{% endblock content %}
